body {
  font-family: "Poppins", sans-serif;

  background-image: url(https://i.pinimg.com/474x/55/dd/eb/55ddebad50b46227096f859ac67d4abe.jpg);
  background-size: 2000px;
}

h1 {
  color: rgb(0, 102, 204);
  display: block;
  font-size: 24px;
  height: 30px;
  line-height: 1;
  width: 326px;
}

ul {
  margin: 0 0 10px;
  padding: 0px;
}

li {
  color: rgb(0, 102, 204);
  display: block;
  font-size: 16px;
  height: 26px;
  line-height: 1;
  font-weight: 100;
  width: 326px;
  list-style: none;
}
.Weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.5);
}

.temperature {
  color: rgb(0, 102, 204);
  font-size: 64px;
  font-weight: 400;
}
.float-start {
  padding: 15px;
  font-size: 50px;
}
.units {
  color: rgb(0, 102, 204);
  position: relative;
  top: -32px;
  font-size: 20px;
  padding: 0;
}
.card-body {
  padding: 15px;
}
.card-image {
  height: 100px;
}
.card {
  background: rgba(255, 255, 255, 0.5);
}
#current-location-button {
  position: relative;
  margin-left: 370px;
}
